.btn
	background-color $main
	display inline-block
	border-radius 10px
	margin-top 20px
	@extend .transition
	a
		color white
		padding 10px 14px;
		display: block;
		font-size 22px
	&:hover
		background-color black
	&-border
		@extend .btn
		border 2px solid white
		&:hover
			border 2px solid black
	&_error
		margin-top 12px
		@extend .btn